@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
/* ---------------- [ Variables ] ---------------- */
/* ---------------- [ Variables ] ---------------- */
/* ---------------- [ Global ] ---------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  color: #b5b5b5;
  scroll-behavior: smooth;
  font-family: "Comfortaa", "Nunito", Arial, sans-serif;
  background-color: #222;
}

::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.different_font {
  font-family: Nunito, Comfortaa, "Sans-serif", sans-serif;
}

::-moz-placeholder {
  font-size: 16px;
  padding: 6px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #707070;
}

::placeholder {
  font-size: 16px;
  padding: 6px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #707070;
}

/* ---------------- [ Global ] ---------------- */
/* ---------------- [ Header ] ---------------- */
.header {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.3) 100%), url("/images/background.jpg");
  background-size: cover;
}
.header .title {
  margin: 0 0 30px 0;
  -webkit-background-clip: text;
  background-clip: text;
  color: #fff;
  font-size: 100px;
  text-shadow: 0 0 7px lime;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header .header_text {
  width: 70%;
  text-align: center;
  color: #fff;
}

.start_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  background: #DDD;
  box-shadow: 0 0 4px lime;
  border-radius: 50px;
  border: 1px solid lime;
  height: 60px;
  width: 270px;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: color 0.4s, transform 0.3s, border-radius 0.4s, box-shadow 0.4s, background 0.4s;
  cursor: pointer;
}
.start_btn:hover {
  transform: scale(1.2);
  background: none;
  border-radius: 50px;
  border: 2px solid lime;
  box-shadow: 0 0 20px lime;
  color: lime;
}

/* ---------------- [ Header ] ---------------- */
/* ---------------- [ Navigation Bar ] ---------------- */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  max-width: 1440px;
  gap: 52px;
  position: fixed;
  background: none;
  z-index: 1000;
  transition: color 0.4s;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 8%;
  background-image: url("/images/logo.png");
  background-size: cover;
  font-size: 0;
  width: 150px;
  height: 120px;
}
.navbar .logo p {
  position: absolute;
}
.navbar .nav_item {
  color: black;
  text-align: center;
  font-size: 20px;
  transition: scale 0.3s, text-shadow 0.3s;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
.navbar .nav_item:hover {
  scale: 1.5;
}

.bluemini {
  height: 70px;
  background-color: rgba(4, 27, 43, 0.8);
  transition: 0.8s;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.bluemini .logo {
  height: 100%;
  background-image: none;
  font-size: 28px;
  font-family: "Black Ops One", "Comfortaa", "Sans-serif";
  color: #DDD;
  transition: 2s;
}
.bluemini .nav_item {
  color: #DDD;
  font-size: 16px;
  transition: 1s;
}

.greenmini {
  height: 70px;
  background-color: rgba(78, 103, 5, 0.8);
  transition: 0.8s;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.greenmini .logo {
  height: 100%;
  background-image: none;
  font-size: 28px;
  font-family: "Black Ops One", "Comfortaa", "Sans-serif";
  color: #fff;
  transition: 2s;
}
.greenmini .nav_item {
  color: #fff;
  font-size: 16px;
  transition: 1s;
}
.greenmini .active {
  color: #041B2B;
  text-shadow: 0 0 5px #041B2B;
}

/* ---------------- [ Navigation Bar ] ---------------- */
/* ---------------- [ Main ] ---------------- */
/* ---------------- [ Section Info   ] ---------------- */
.section_info {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 1200px;
  color: #fff;
  background-color: #4E6705;
}
.section_info .section_title {
  font-size: 48px;
  margin: 40px auto 40px;
}
.section_info .section_text {
  margin-bottom: 150px;
  width: 70%;
  text-align: center;
}
.section_info .section_text p > a {
  color: #fff;
  text-decoration: underline;
}
.section_info .images_box {
  position: relative;
  display: flex;
  width: 80%;
  height: 600px;
}
.section_info .images_box .left_top {
  border-radius: 25px;
  width: 737px;
  height: 490px;
}
.section_info .images_box .right_bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 522px;
  height: 345px;
  border-radius: 15px;
}

.block {
  position: absolute;
  height: 70px;
  width: 55%;
  background-color: #041B2B;
}
.block_left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}

/* ---------------- [ Section Info ] ---------------- */
/* ---------------- [ Section Prices ] ---------------- */
.section_prices {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 1200px;
  color: #DDD;
  background-color: #041B2B;
}
.section_prices .section_title {
  font-size: 48px;
  margin: 40px auto 140px;
}
.section_prices .offers_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.section_prices .offers_box .offer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 511px;
  height: 704px;
  color: #111;
  background-color: #DDD;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #444;
}
.section_prices .offers_box .offer_title {
  text-align: center;
  font-size: 38px;
  font-weight: normal;
  width: 70%;
}
.section_prices .offers_box .offer .price {
  font-size: 50px;
  font-weight: bold;
}
.section_prices .offers_box .offer .access_list {
  list-style: none;
  line-height: 40px;
  font-size: 22px;
}
.section_prices .offers_box .offer .access_list li {
  padding-left: 10px;
}
.section_prices .offers_box .offer .access_list i {
  font-size: 30px;
}
.section_prices .offers_box .offer .access_list .fa-xmark {
  color: rgba(226, 31, 31, 0.5607843137);
}
.section_prices .offers_box .offer .access_list .fa-check {
  color: #33ff77;
  font-size: 28px;
}
.section_prices .offers_box .offer .access_list .access_item {
  color: #736e6e;
}
.section_prices .offers_box .offer .offer_btn {
  width: 329px;
  height: 79px;
  font-size: 30px;
  background-color: #4E6705;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.section_prices .offers_box .offer .offer_btn:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px #041B2B;
}

/* ---------------- [ Section Prices ] ---------------- */
/* ---------------- [ Section Contact ] ---------------- */
.section_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 974px;
  z-index: 999;
  width: 100%;
}
.section_contact .fa-paper-plane {
  font-size: 55px;
  text-align: center;
  margin-bottom: 14px;
}
.section_contact p {
  text-align: center;
  font-size: 30px;
  color: #DDD;
  margin-bottom: 38px;
}
.section_contact .input_box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
}
.section_contact .input_box .input {
  width: 45%;
  margin-right: 50px;
  background-color: #D9D9D9;
  border-radius: 8px;
  border: none;
  padding: 8px 138px 8px 34px;
  font-size: 16px;
  letter-spacing: 1px;
}
.section_contact .input_box .contact_btn {
  width: 20%;
  border: none;
  border-radius: 10px;
  background: rgba(78, 103, 5, 0.3);
  font-size: 25px;
  text-transform: uppercase;
}
.section_contact .contact_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 240px;
  margin-top: 278px;
}
.section_contact .contact_container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 395px;
  height: 237px;
  border-radius: 8px;
  background-color: #DDD;
}
.section_contact .contact_container .box i {
  font-size: 30px;
  margin-bottom: 12px;
  color: #64A19D;
}
.section_contact .contact_container .box .title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: lighter;
  color: #000;
  padding-left: 7px;
}
.section_contact .contact_container .box .line {
  background: #64A19D;
  width: 50px;
  height: 4px;
  border-radius: 8px;
  margin: 27px 0;
}
.section_contact .contact_container .box .content {
  color: #747474;
}

.input:valid + .contact_btn {
  background: rgb(78, 103, 5);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.input:valid + .contact_btn:hover {
  scale: 1.1;
}

/* ---------------- [ Section Contact ] ---------------- */
/* ---------------- [ Main ] ---------------- */
/* ---------------- [ End & Footer ] ---------------- */
.end_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1400px;
  background-image: linear-gradient(180deg, rgba(5, 28, 44, 0.7) 0%, rgba(0, 0, 0, 0.7) 44.37%, #000 90%), url("/images/footerimg.jpg");
  background-size: cover;
}

.section_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 406px;
  width: 100%;
  font-size: 20px;
  color: #6e6e6e;
  z-index: 999;
}
.section_footer .socials_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 395px;
}
.section_footer .socials_box .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 30px;
  color: rgba(110, 110, 110, 0.537254902);
  margin-bottom: 84px;
  border-radius: 50px;
  background-color: #1A1A1A;
  cursor: pointer;
}

/* ---------------- [ End & Footer ] ---------------- */
.section_about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #DDD;
  background-color: #041B2B;
}
.section_about .section_title {
  font-size: 48px;
  margin-bottom: 20px;
}
.section_about .section_text {
  margin: 20px 0 100px 0;
  width: 50%;
  text-align: center;
  font-size: 20px;
}
.section_about .section_text_two {
  width: 70%;
  text-align: center;
  font-size: 18px;
}
.section_about .line_one {
  background: #4E6705;
  width: 20%;
  height: 3px;
  border-radius: 8px;
  margin-bottom: 70px;
}
.section_about .line_two {
  background: #4E6705;
  width: 70%;
  height: 3px;
  border-radius: 8px;
  margin-bottom: 70px;
}

.section_curiosities {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220vh;
  color: #DDD;
  background-color: #041B2B;
}
.section_curiosities .section_title {
  font-size: 48px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.section_curiosities .line {
  background: #4E6705;
  width: 20%;
  height: 3px;
  border-radius: 8px;
  margin-bottom: 70px;
}
.section_curiosities .curiosities_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1244px;
  height: 1250px;
  background: red;
  overflow: hidden;
}
.section_curiosities .curiosities_box .curio {
  display: flex;
  background: #1A1919;
}
.section_curiosities .curiosities_box .curio img {
  height: 417px;
  width: 622px;
}
.section_curiosities .curiosities_box .curio_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 417px;
  width: 622px;
}
.section_curiosities .curiosities_box .curio_text h3 {
  margin-bottom: 16px;
  font-size: 32px;
}
.section_curiosities .curiosities_box .curio_text p {
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6196078431);
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}/*# sourceMappingURL=index.css.map */