@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
/* ---------------- [ Variables ] ---------------- */
/* ---------------- [ Variables ] ---------------- */
/* ---------------- [ Global ] ---------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  color: #b5b5b5;
  scroll-behavior: smooth;
  font-family: "Comfortaa", "Nunito", Arial, sans-serif;
  background-color: #222;
}

::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.different_font {
  font-family: Nunito, Comfortaa, "Sans-serif", sans-serif;
}

/* ---------------- [ Global ] ---------------- */
/* ---------------- [ Header ] ---------------- */
.header {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  color: #000;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.3) 100%), url("/images/background.jpg");
}
.header .title {
  margin: 0 0 30px 0;
  -webkit-background-clip: text;
  background-clip: text;
  color: #fff;
  font-size: 100px;
  text-shadow: 0 0 7px lime;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header .header_text {
  width: 70%;
  text-align: center;
  color: #fff;
}

.start_btn {
  position: absolute;
  bottom: 10%;
  background: #DDD;
  box-shadow: 0 0 4px lime;
  border-radius: 50px;
  border: 1px solid lime;
  height: 60px;
  width: 270px;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  transition: color 0.4s, transform 0.3s, border-radius 0.4s, box-shadow 0.4s, background 0.4s;
  cursor: pointer;
}
.start_btn:hover {
  transform: scale(1.2);
  background: none;
  border-radius: 50px;
  border: 2px solid lime;
  box-shadow: 0 0 20px lime;
  color: lime;
}
.start_btn:active {
  transform: scale(1.1);
}

/* ---------------- [ Header ] ---------------- */
/* ---------------- [ Navigation Bar ] ---------------- */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  max-width: 1440px;
  gap: 52px;
  position: fixed;
  background: none;
  z-index: 1000;
  transition: color 0.4s;
}
.navbar .logo {
  position: absolute;
  left: 8%;
  background-image: url("/images/logo.png");
  background-size: cover;
  width: 150px;
  height: 120px;
}
.navbar .nav_item {
  color: black;
  text-align: center;
  font-size: 20px;
  transition: scale 0.3s, text-shadow 0.3s;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
.navbar .nav_item:hover {
  scale: 1.5;
}

.blue-section-main-color {
  background: #041B2B;
}

.green-section-main-color {
  background: #4E6705;
}

/* ---------------- [ Navigation Bar ] ---------------- */
/* ---------------- [ Main ] ---------------- */
/* ---------------- [ Section Info   ] ---------------- */
.section_info {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 1200px;
  color: #fff;
  background-color: #4E6705;
}
.section_info .section_title {
  font-size: 48px;
  margin: 40px auto 40px;
}
.section_info .section_text {
  margin-bottom: 150px;
  width: 70%;
  text-align: center;
}
.section_info .section_text p > a {
  color: #fff;
  text-decoration: underline;
}
.section_info .images_box {
  position: relative;
  display: flex;
  width: 80%;
  height: 600px;
}
.section_info .images_box .left_top {
  border-radius: 25px;
  width: 737px;
  height: 490px;
}
.section_info .images_box .right_bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 522px;
  height: 345px;
  border-radius: 15px;
}

.block {
  position: absolute;
  height: 70px;
  width: 55%;
  background-color: #041B2B;
}
.block_left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}

/* ---------------- [ Section Info ] ---------------- */
/* ---------------- [ Section Prices ] ---------------- */
.section_prices {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 1200px;
  color: #DDD;
  background-color: #041B2B;
}
.section_prices .section_title {
  font-size: 48px;
  margin: 40px auto 140px;
}
.section_prices .offers_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.section_prices .offers_box .offer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 511px;
  height: 704px;
  color: #111;
  background-color: #DDD;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #444;
}
.section_prices .offers_box .offer_title {
  text-align: center;
  font-size: 38px;
  font-weight: normal;
  width: 70%;
}
.section_prices .offers_box .offer .price {
  font-size: 50px;
  font-weight: bold;
}
.section_prices .offers_box .offer .access_list {
  list-style: none;
  line-height: 40px;
  font-size: 22px;
}
.section_prices .offers_box .offer .access_list li {
  padding-left: 10px;
}
.section_prices .offers_box .offer .access_list i {
  font-size: 30px;
}
.section_prices .offers_box .offer .access_list .fa-xmark {
  color: rgba(226, 31, 31, 0.5607843137);
}
.section_prices .offers_box .offer .access_list .fa-check {
  color: #33ff77;
  font-size: 28px;
}
.section_prices .offers_box .offer .access_list .access_item {
  color: #736e6e;
}
.section_prices .offers_box .offer .offer_btn {
  width: 329px;
  height: 79px;
  font-size: 30px;
  background-color: #4E6705;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.section_prices .offers_box .offer .offer_btn:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px #041B2B;
}

/* ---------------- [ Section Prices ] ---------------- */
/* ---------------- [ Main ] ---------------- */

/*# sourceMappingURL=index.css.map */
